<launch>
  <node name="speech_recog" pkg="pocketsphinx" type="asr_test.py">
    <remap from="jsgf_audio" to="sphinx_audio" />
    <param name="gram" value="$(find pocketsphinx)/vocab/proyecto_final"/>
    <param name="dict" value="$(find pocketsphinx)/vocab/proyecto_final.dic"/>
    <param name="grammar" value="proyecto_voice_cmd"/>
    <param name="rule" value="move"/>
    <param name="lm" value=":default"/>
    <param name="hmm" value=":default"/>
  </node>

  <node name="audio_control" pkg="pocketsphinx" type="send_audio.py">
    <param name="input" value=":default"/>
  </node>
</launch>
